<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-6">
        <h1>Better learning experience with BookClub</h1><br>
        <h3>Easy access to all books</h3><br><br>
        <button class="btn btn-danger btn-lg exploreBtn" routerLink="/book">Let's explore</button>
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<div class="spaceDiv">

</div>
<div class="client-count-wrp mt-100 ">
  <div class="container skew">
    <!-- <div class="heading">
            <h4>Our Numbers</h4>
        </div> -->
    <div class="client-count-wrp-inner">
      <!--card-->
      <div class="cards">
        <i class="fa fa-user i1"></i>
        <h4>{{clientcount}}</h4>

        <p>Happy Clients</p>
      </div>
      <!--card-->
      <div class="cards">
        <i class="fa fa-book i2"></i>
        <h4>{{booksCount}}</h4>
        <p>Books Available</p>
      </div>
      <!--card-->
      <div class="cards">
        <i class="fa fa-inr i3"></i>
        <h4>{{purchasedCount}}</h4>
        <p>Books purchased</p>
      </div>
      <!--card-->
      <div class="cards">
        <i class="fa fa-thumbs-up i4"></i>
        <h4>{{customerfeedback + "%"}}</h4>
        <p>Customer Satisfaction</p>
      </div>
    </div>
  </div>
</div>

<br><br><br><br>