.bookImg{
    box-sizing: border-box;
    width: 20rem;
    height: 25rem;
    margin-left: 10rem;
}

.card{
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.btn__container{
    margin-top:1rem;
}
.back{
    text-decoration: none;
    padding:0.5rem;
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius:4px;
}

/* .bookTitle{
    font-size: 300;
    font-weight: bold;
} */