.loader {
    --dim: 10rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1000;
}

