.mainSection {
    margin-left: 10%;
    box-sizing: border-box;
}

.bookListDesign {
    margin-left: 20%;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

.header_search {
    height: 90px;
    margin-left: 10rem;
}

.header_search_content {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header_search_form_container {
    width: 50%;
    height: 50px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
}

.header_search_form {
    width: 100%;
    height: 100%;
}

.header_search_input {
    display: block;
    position: relative;
    width: calc((100% - 50px) * 0.601);
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 26px;
    color: #7f7f7f;
    float: left;
    background-color: white;
    width: 25rem;
    border: 2px solid #282828;
}

.header_search_input::-webkit-input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}

.header_search_input:-ms-input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}

.header_search_input::input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}

.header_search_button {
    position: absolute;
    top: 0;
    left: 25rem;
    width: 50px;
    height: 100%;
    background: #45a29e;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.iconSearch {
    color: white;
}

@media only screen and (max-width: 991px) {
    .header_search {
        height: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .header_search {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .header_search {
        display: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    color: #313131;
    font-family: "Times New Roman", serif;
    background-color: #673ab7;
    background: linear-gradient(
        45deg,
        rgba(103, 58, 183, 1) 0%,
        rgba(138, 34, 170, 1) 100%
    );
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card {
    height: 30em;
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    .book-card__cover {
        position: relative;
        width: 15em;
        height: 20em;
        margin: 0 auto 8px auto;
        perspective: 1000px;
    }

    .book-card__book {
        height: 100%;
        transform-style: preserve-3d;
        transition: all 250ms ease;
        display: flex;
        justify-content: center;
    }

    .book-card__book-front {
        position: absolute;
        height: 100%;
    }

    .book-card__book-back {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transform: translateZ(-40px);
    }

    .book-card__book-side {
        position: absolute;
        top: 5px;
        bottom: 2px;
        right: -29px;
        width: 40px;
        background-size: 5px;
        background-color: #e1e1e1;
        background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
        opacity: 0;
        transform: rotate3d(0, 1, 0, 90deg);
    }

    .book-card__img {
        width: 100%;
        height: 100%;
        background-color: #e1e1e1;
    }

    .book-card__title {
        font-size: 1.1em;
        margin-bottom: 8px;
        margin-top: 1em;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3em;
    }

    .book-card__author {
        color: black;
        font-size: 1em;
    }

    .book-card__rating {
        background-color: green;
        color: white;
        font-size: 0.8em;
        padding: 0.3em 0.5em;
        border-radius: 0.4em;
        font-weight: bold;
        display: inline;
    }

    .book-card__price {
        font-weight: bold;
        font-size: 1.2em;
        color: rgb(23, 19, 19);
    }

    &:hover {
        .book-card__book {
            transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
        }

        .book-card__book-back {
            box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
        }

        .book-card__book-side {
            opacity: 1;
        }
    }
}
