<br /><br /><br />

<!-- Search Bar -->

<div class="mainSection">
    <mat-paginator id="1"
        [length]="bookResult?.totalRecords"
        [pageSizeOptions]="[20, 50, 100]"
        (page)="getPaginatorData($event)"
        aria-label="Select page"
    >
    </mat-paginator>
    <div class="header_search col-7 text-lg-left text-right">
        <div class="header_search_content">
            <div class="header_search_form_container">
                <form
                    #searchBookForm="ngForm"
                    (submit)="getBooksList()"
                    class="header_search_form clearfix"
                >
                    <input
                        type="search"
                        [(ngModel)]="searching"
                        name="searching"
                        class="header_search_input"
                        placeholder="Search for book..."
                        required
                    />
                    <button
                        type="submit"
                        class="header_search_button trans_300"
                        value="Submit"
                    >
                        <i class="fa fa-search iconSearch"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!bookList?.length; then noResult; else displayBooks"></div>

<!-- If no result found -->
<ng-template #noResult>
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card emptyCard">
                    <div class="card-header">
                        <h5>
                            Looks like we don't have any matches for "
                            {{ searching }} "
                        </h5>
                    </div>
                    <div class="card-body emptyCardBody cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                            <img
                                src="https://images.unsplash.com/photo-1573855619003-97b4799dcd8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                                width="500"
                                height="auto"
                                class="img-fluid mb-4 mr-3 bordering"
                            />
                            <h4>
                                <strong
                                    >Try searching with different
                                    keywords</strong
                                >
                            </h4>
                            <a
                                [routerLink]="['../../book']"
                                class="btn btn-warning cart-btn-transform m-3"
                                data-abc="true"
                                >Continue shopping</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Displaying result -->
<ng-template #displayBooks>
    
    <div class="bookListDesign">
        <div class="filter-wrapper">
            <ng-container *ngTemplateOutlet="filterBlock"></ng-container>
         </div>
        <div class="row bookCardLayout">
            <div
                *ngFor="let book of bookList"
                class="d-flex col-lg-3 col-md-4 col-sm-6 mx-auto my-5"
            >
                <a [routerLink]="['view', book._id]">
                    <main>
                        <div class="book-card">
                            <div class="book-card__cover">
                                <div class="book-card__book">
                                    <div class="book-card__book-front">
                                        <img
                                            class="book-card__img"
                                            [src]="book.imageLink"
                                            alt="Book Cover"
                                        />
                                    </div>
                                    <div class="book-card__book-back"></div>
                                    <div class="book-card__book-side"></div>
                                </div>
                                <div>
                                    <div
                                        class="book-card__title"
                                        [attr.title]="book.title"
                                    >
                                        {{ book.title }}
                                    </div>
                                    <div class="book-card__author">
                                        By
                                        {{
                                            book.author.length > 1
                                                ? book.author.join(", ")
                                                : book.author[0]
                                        }}
                                    </div>
                                    <div class="book-card__rating">
                                        <!-- {{ book.rating }} -->
                                        4.5
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="book-card__price">
                                        &#8377; {{ book.listPrice }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </a>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #filterBlock>
    <div class="filter-container">
         <div class="filter-header">Tweak Your Results</div >
            @for (item of filterList; track item) {
                <div class="filter-list">
                    {{item.label}}
                    <mat-icon > {{item.icon}}</mat-icon> 
                </div>    
            }@empty{
                
            }
            
           
      </div>
</ng-template>
<mat-paginator id="1"
[length]="bookResult?.totalRecords"
[pageSizeOptions]="[20, 50, 100]"
(page)="getPaginatorData($event)"
aria-label="Select page"
>
</mat-paginator>
<div></div>
<div></div>
<ng-template></ng-template>
<ng-template></ng-template>
